* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #0000ff, #3333ff);
}

.box {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    box-shadow: 0px 0px 20px 2px white;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px white;
}

.box marquee {
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.box .inp-box {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inp-box input {
    width: 90%;
    height: 40px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 12.5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.box .btn-box {
    margin-top: 50px;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-box button {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 1);
    color: white;
    font-weight: bold;
    font-size: 12.5px;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}